div {
  border: 2px solid teal;
}

h1 {
  background-color: salmon;
  color: indigo;
}

body {
  background-color: lavenderblush;
}

.italicsssssssss {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

#site-title {
  font-size: 64px;
  color: cornflowerblue;
}

ul {
  list-style-type: none;
}

div.bold {
  background-color: mediumaquamarine;
}

p.italicsssssssss.bold {
  font-family: monospace;
}

#site-title.italicsssssssss {

}

.special-div .bold {
  color: springgreen;
}

.special-div .italicsssssssss.bold {
  background-color: tomato;
}

.special-div > .bold {
  text-decoration: underline;
}

/* h1.italicsssssssss */

#site-title ~ div {
  border-radius: 15px;
}

#site-title + div {
  font-size: 20px;
  border-radius: 100px;
}
